<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.example.navigationdrawer.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Green"
        tools:targetApi="31">
        <activity
            android:name="com.example.navigationdrawer.SplashActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.navigationdrawer.LanguageNewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.navigationdrawer.ShopActivity"
            android:exported="false" />
        <activity
            android:name="com.example.navigationdrawer.screen.ThemeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.navigationdrawer.screen.RateActivity"
            android:exported="false" />
        <activity
            android:name="com.example.navigationdrawer.screen.MainActivity"
            android:exported="true"/>
    </application>

</manifest>